<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>vue入门</title>
    <script type="text/javascript" src="js/vue.js" ></script>
</head>
<body>
<div id="root">
    <h4>单个使用</h4>
    <label>单个复选</label>
    <input type="checkbox" v-model="checked">
    <p>目前状态是： {{checked}}</p>
    <br />

    <hr />
    <h4>组合使用</h4>
    <label for="html">HTML</label>
    <input type="checkbox" v-model="checked1" value="html" id="html">
    <label for="js">javascript</label>
    <input type="checkbox" v-model="checked1" value="js" id="js">
    <label for="css">css</label>
    <input type="checkbox" v-model="checked1" value="css" id="css">
    <p>输入的内容是： {{checked1}}</p>
</div>

<script>
    new Vue({
        el: "#root",
        data: {
            checked: true,
            checked1: ['js','css']
        }
    })
</script>
</body>
</html>
